body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 1rem;
}
h1 {
    text-align: center;
    color: #333;
    padding: 1rem;
}
ul {
    list-style: none;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}
li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 1rem;
}
li:hover {
    border: 1px solid #007bff;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #007bff;
}
hr {
    border: 1px solid #ddd;
}
.logo {
    border: 1px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.logo-container{
    padding-top: 1rem;
}
table, th, td {
    border: 1px solid #ddd;
}
.bg-img {
    background-attachment:fixed;
    background-image:url(https://bing.shangzhenyang.com/api/1080p);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-filter:blur(10px);
    filter:blur(10px);
    height:100%;
    left:0;
    top:0;
    opacity:.5;
    position:fixed;
    transform:scale(1.1);
    width:100%;
    z-index:-1
}
.gap-3 {
    gap: 3px;
}
.container {
    background-color: #eee;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
}
.lb-lock {
    padding: 1rem;
}
.fake-window {
    background-color: #fff;
    border: 1px solid #ddd;
}
.menu {
    padding: 3px;
    margin-top: 3px;
    border-bottom: 1px solid #ddd;
}
.menu a {
    color: #444;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 3.5px 0.5em;
    text-decoration: none;
}
.menu a:hover {
    color: #000;
    background-color: #ddd;
    border: 1px solid #ccc;
    text-decoration: underline;
}
.menu a:visited {
    color: #444;
}
.menu .current {
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
@media only screen and (min-width: 830px) {
    .menu .current:hover {
        background-color: #fff;
        border-bottom: 1px solid #fff;
        text-decoration: none;
    }
}
.menu .current:visited {
    color: #000;
}
.main-content {
    padding: 1rem;
}
.about {
    text-align: center;
    font-size: small;
    color: gray;
}
.about a{
    color: gray;
}

/* 可折叠元素 */
.collapsible {
    background-color: #888;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #666;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.collapse-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.tmp-block{
    display: block;
}
/* 可折叠元素结束 */

/* 加载进度条 */
.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    transition: opacity .4s linear;
  
    .progress {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #77b6ff;
      box-shadow: 0 0 10px rgba(119, 182, 255, .7);
    }
  
    &.loading {
      opacity: 1;
      transition: none;
  
      .progress {
        transition: width .4s ease;
      }
    }
  }
/* 加载进度条结束 */

@media only screen and (max-width: 830px) {
    body {
        padding: 0.5rem;
    }
    .menu a {
        display: inline-block;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    .menu .current {
        border-bottom: 1px solid #ccc;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: .5em;
        margin: 0;
    }
}
